<h1>Depoimentos</h1>
<hr>

<section>
    {{depoimentos}}
</section>

<section>
    {{pagination}}
</section>

<hr>

<section>
    <h3>Envie seu depoimento</h3>
    <form action="?pagina=1" method="POST">
        <div class="form-group">
            <label for="nome">nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="5" class="form-control" required></textarea>
        </div>

        <button class="btn btn-success mt-2">Enviar</button>
    </form>
</section>